.gradient-boarder {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #00AEDB, rgba(0, 0, 0, 0)) 1 100%;
}

.center-translate {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-login {
    width: 50% !important;
}

span.asterisk::after {
    content: '  *';
    color: red !important;
}