{% block footer %}
    <footer class="fixed-bottom">
        <!-- Copyrights -->
        <div class="py-2">
            <div class="container text-center">
                <div class="collapse" id="navbarsExample01">
                    <div class="navbar-nav mx-auto my-auto">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
                                <a class="border border-org px-1 py-1 mx-1"
                                   href="https://www.linkedin.com/in/aashka-prajapati-41a97393/">
                                    Aashka Prajapati
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
                                <a class="border border-org px-1 py-1 mx-1"
                                   href="https://www.linkedin.com/in/shreya-wadhwa-8a502463/">
                                    Shreya Wadhwa
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
                                <a class="border border-org px-1 py-1 mx-1"
                                   href="https://www.linkedin.com/in/kasra-naderi-6723b319a/">
                                    Kasra Naderi
                                </a>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 my-3">
                                <a class="border border-org px-1 py-1 mx-1"
                                   href="https://www.linkedin.com/in/imananoosheh/">
                                    Iman Anooshehpour
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="border border-org navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
                        aria-label="Toggle navigation" data-placement="top">
                    <i class="material-icons md-48">menu</i>
                </button>
            </div>
        </div>
    </footer>
{% endblock footer %}