<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "catchup/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "catchup/css/main.css" %}">
    <link rel="stylesheet" href="{% static "catchup/css/location.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Lato" rel="stylesheet">
    <script src="{% static "catchup/js/jquery-3.4.1.slim.min.js" %}"></script>
    {% block title %}<title>CatchUp to catch up!</title>{% endblock %}
</head>

{% block header %}{% endblock %}

{% block content %}
    <div id="map"></div>
    <div id="controlbutton">
        <button id="createactivitytoggle" aria-label="Add"><i class="material-icons md-24">add</i></button>
        <button id="mylocation" aria-label="My Location"><i class="material-icons md-24">near_me</i></button>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Bootstrap JS -->
<script>
    // Initialize and add the map
    var map;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: new google.maps.LatLng(-33.91722, 151.23064),
            mapTypeId: 'roadmap',
            //disableDefaultUI: true,
            fullscreenControl: true,
            scaleControl: false,
            zoomControl: false,
            streetViewControl: false
        });

        var contentString = '<div class="card border-0 text-center" style="max-width: 255px;padding-right: 12px !important;">' +
            '<img class="card-img-top" src="img/1.png" alt="Card image cap">' +
            '<div class="card-body">' +
            '<h5 class="card-title">Card title</h5>' +
            '<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card\'s content.</p>' +
            '<a href="#" class="btn btn-primary">Go somewhere</a>' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });


        var iconBase = '{% static "catchup/img/" %}';
        var icons = {
            activity: {
                name: 'Activity',
                icon: iconBase + 'activity.svg'
            }
        };

        var features = [{
            position: new google.maps.LatLng(-33.91721, 151.22630),
            type: 'activity'
        }, {
            position: new google.maps.LatLng(-33.91539, 151.22820),
            type: 'activity'
        }];

        // Create markers.
        features.forEach(function (feature) {
            var marker = new google.maps.Marker({
                position: feature.position,
                icon: icons[feature.type].icon,
                map: map,
                title: 'Uluru (Ayers Rock)'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        });
    }
</script>
<!--Load the API from the specified URL
      * The async attribute allows the browser to render the page while the API loads
      * The key parameter will contain your own API key (which is not needed for this tutorial)
      * The callback parameter executes the initMap() function
      -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlwC5xEDlfrDlrvbXJxanzUH0le_R1iw8&callback=initMap">
</script>
<script src="{% static "catchup/js/bootstrap.min.js" %}"></script>
<script src="{% static "catchup/js/main.js" %}"></script>
</html>