{% extends "location.html" %}

{% block header %}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: #00aedb;">
    <a class="navbar-brand p-0" href="#"><img style="height: 50px;" src="img/logo.svg" alt="CatchUp Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCommon" aria-controls="navbarCommon" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCommon">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Add an Activity +</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
{% endblock %}