<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/location.css" %}">
    <title>CatchUp to catch up!</title>
</head>

<header>
  {% block header %}{% endblock %}
</header>

<body>
  <div class="container gradient-boarder center-translate">
    <div class="col text-center">
        <img class="logo-login" src="img/logo.svg" alt="logo">
        <h1 style="display: none;">CatchUp</h1>
        <h2>Place to catch up!</h2>
    </div>
    <div class="col d-flex  justify-content-center">
      <div class="row top-buffer">
        <div class="col-sm-6 form-group">
            <button type="button" class="btn btn-primary" id="getlocationbtn">Get Location</button>
        </div>
        <div class="col-lg-6 form-group">
            <label for="Latitude">Latitude</label>
            <input type="text" class="form-control locationtxt" id="startLat">
            <label for="Longitude">Longitude</label>
            <input type="text" class="form-control locationtxt" id="startLon">
        </div>
      </div>
    </div>
  </div>

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
