<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "catchup/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "catchup/css/main.css" %}">
    <link rel="stylesheet" href="{% static "catchup/css/location.css" %}">
    <title>{% block title %}CatchUp to catch up!{% endblock %}</title>
</head>

<header>
  {% block header %}{% endblock %}
</header>

<body>
  <div class="container gradient-boarder center-translate">
    <div class="col text-center">
        <img class="logo-login" src="img/logo.svg" alt="logo">
        <h1 style="display: none;">CatchUp</h1>
        <h2>Place to catch up!</h2>
    </div>
    <div class="col d-flex  justify-content-center">
      <div class="row top-buffer">
        <div class="col-sm-6 form-group">
            <button type="button" class="btn btn-primary" id="getlocationbtn">Get Location</button>
        </div>
        <div class="col-lg-6 form-group">
            <label for="Latitude">Latitude</label>
            <input type="text" class="form-control locationtxt" id="startLat">
            <label for="Longitude">Longitude</label>
            <input type="text" class="form-control locationtxt" id="startLon">
        </div>
      </div>
    </div>
  </div>
  
  <footer class="bg-white">
    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <div class="collapse" id="navbarsExample01">
          <div class="navbar-nav mx-auto my-auto">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 my-3">
                <a class="border border-org px-1 py-1 mx-1" href="https://www.linkedin.com/in/aashka-prajapati-41a97393/">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Aashka Prajapati
                    </font>
                  </font>
                </a>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 my-3">
                <a class="border border-org px-1 py-1 mx-1" href="https://www.linkedin.com/in/shreya-wadhwa-8a502463/">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Shreya Wadhwa
                    </font>
                  </font>
                </a>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 my-3">
                <a class="border border-org px-1 py-1 mx-1" href="https://www.linkedin.com/in/kasra-naderi-6723b319a/">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Kasra Naderi
                    </font>
                  </font>
                </a>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 my-3">
                <a class="border border-org px-1 py-1 mx-1" href="https://www.linkedin.com/in/imananoosheh/">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      Iman Anooshehpour
                    </font>
                  </font>
                </a>
              </div>
            </div>
          </div>
        </div>
        <span class="text-muted mb-0 py-2">© 2020 Copyright:</span>
          <button class="border border-org navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation" data-placement="top">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Group 33</font>
            </font>
          </button>
      </div>
    </div>
  </footer>
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
