<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/location.css">
    <title>CatchUp to catch up!</title>
</head>

<body>
  <div class="container gradient-boarder">
    <div class="col text-center">
        <img class="logo-login" src="img/logo.svg" alt="logo">
        <h1 style="display: none;">CatchUp</h1>
        <h2>Place to catch up!</h2>
    </div>
    <div class="col d-flex  justify-content-center">
      <div class="row top-buffer">
        <div class="col-sm-6 form-group">
            <button type="button" class="btn btn-primary">Get Location</button>
        </div>
        <div class="col-lg-6 form-group">
            <input type="text" class="form-control locationtxt" id="location">
        </div>
      </div>
    </div>
  </div>

</body>
</html>
